<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FS2020_Tree_Size_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FS2020_Tree_Size_Editor.Properties.Settings>
            <setting name="installLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="xmlFile" serializeAs="String">
                <value />
            </setting>
            <setting name="manifestFile" serializeAs="String">
                <value />
            </setting>
            <setting name="layoutFile" serializeAs="String">
                <value />
            </setting>
            <setting name="xmlFileBiomes" serializeAs="String">
                <value />
            </setting>
            <setting name="xmlFileBiomesCities" serializeAs="String">
                <value />
            </setting>
        </FS2020_Tree_Size_Editor.Properties.Settings>
    </userSettings>
</configuration>
